* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f8fc;
}

.header {
    background: linear-gradient(90deg,#0d6efd,#1e90ff);
    padding: 15px 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
     justify-content: space-between;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.search {
    width:320px ;
    max-width: 100%;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
}

.header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
}

.welcome {
    background: white;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.progress {
    width: 200px;
    height: 8px;
    background: #ddd;
    border-radius: 10px;
    margin-top: 8px;
}

.progress-bar {
    height: 100%;
    background: #0d6efd;
    border-radius: 10px;
}

h3 {
    margin-bottom: 15px;
    color: #0d6efd;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.course {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.course img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.course h4 {
    padding: 10px;
}

.course p {
    padding: 0 10px;
    color: gray;
}

.course button {
    margin: 15px 10px;
    width: calc(100% - 20px);
    padding: 10px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.course button:hover {
    background: #084298;
}
@media (max-width: 760px) {
    .header {
        justify-content: center;
        padding: 15px;
    }

    .search,
    .header nav {
        display: none;
    }

    .welcome {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .progress-box {
        width: 100%;
    }

    .progress {
        width: 100%;
    }
    .course-list {
        grid-template-columns: 1fr;
    }

    .container {
        padding: 0 15px;
    }
}
