.banner {
    border-color: black;
    border:10px;
}
h1 {
    background-color: aqua;
    color:black;
    text-align: center;
    align-items: center;
    height: 80px;
}
.banner p {
    text-align: center;
}